.wishlist-main-container{
    margin-top: 1.5rem;
    min-height: 90vh;
    max-height: auto;
    background-color: var(--gray-bg-color);
    padding: 2rem 3rem;
}

.wishlist-container{
    background-color: var(--white-color);
    padding: 2rem;
}

.wishlist-heading{
    border-bottom: 2px solid #DDD;
}

.wishlist-items{
    padding: 2rem 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem 2rem;
}

.product{
    display: flex;
    flex-direction: column;
    background-color: var(--white-color);
    padding: 1rem;
    max-width: 19rem;
    min-height: 26rem;
    max-height: 26rem;
    box-shadow: 1px 1px 8px 3px rgba(0,0,0,0.1);
}

.product-img{
    width:  100%;
    margin-top: 1rem;
    object-fit: cover;
    transition: all .2s ease-in-out;
}

.product-img:hover{
    transform: scale(1.06);
    cursor: pointer;
}

.product-desc{
    font-size: 1.3rem;
    margin: 1rem 0 .5rem 0;
}

.product-price{
    margin-bottom: 1rem;
}

.product-links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.product-btn{
    padding: 0.5rem 0.9rem;
    text-decoration: none;
    background: var(--primary-color);
    color: var(--white-color);
    border-radius: 10px;
}
