:root{
    --primary-color: #1a406b;
    --white-color : #fff;
    --black-color : black;
    --container-bg-color : #f2f2f2;
    --facebook-bg-color :  #3b5998;
    --twitter-bg-color :  #00acee;
    --linkedin-bg-color :  #0e76a8;
    --gray-bg-color : #ebebeb;
    --gray-bg-dark-color : #c4c4c4;
    --google-bg-color:#4285f4;
}

/* sub-header */

.sub-header{
    display: flex;
    justify-content: flex-end;
    background-color: var(--primary-color);
    width: 100%;
    position: fixed;
    z-index: 3;
}

.login-links {
    gap: 5px;
    margin-right: 3rem;
    color: var(--white-color);
}

.login-links a{
    text-decoration: none;
    color: var(--white-color);
}

/* navbar */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    border-bottom: 1px solid;
    background-color: var(--white-color);
    position: sticky;
    top: 1.5rem;
    z-index: 3;
    padding: 0 4rem;
}

.nav-brand{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    gap: 1rem;
}

.nav-brand-name{
    font-size: 1.8rem;
    color: var(--primary-color);
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
}

.nav-contents{
    display: flex;
    gap: 1.2rem;
}

.nav-brand-img{
    height: 3rem;
}

.search-input{
    height: 2rem;
    min-width: 20rem;
    max-width: auto;
    padding-left: 1rem;
}

.search-input:hover{
    font-weight: 600;
}

.cart {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-icon{
    position: relative;
    font-size: 1.5rem;
    right: 10px;
}

.cart-items-number{
    position: absolute;
    top: 12px;
    width: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 50%;
    z-index: 1;
    font-size: 12px;
}

.wishlist{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-wishlist-icon{
    position: relative;
    font-size: 1.2rem;
    right: 10px;
}

.wishlist-items-number{
    position: absolute;
    top: 12px;
    height: 1.1rem;
    width: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 50%;
    z-index: 1;
    font-size: 12px;
}

.user-profile-icon{
    width: 1.6rem;
    color: var(--primary-color);
    margin-left:-10px;
    margin-top: 3px;
}